{#<script src="/static/lib/js/jquery.min.js"></script>#}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/abhidya/Koth-character-identifier/static/css/styles.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body style='background: #fcbe9d'>
<div class="bg">


    <!-- The form -->
    <div id="parent">

        <br>
        <form class="example" action="/results" id="handle_form" method="post" style="margin:auto;max-width:300px"
              onsubmit="hideentry();">
            <img src="https://cdn.jsdelivr.net/gh/abhidya/Koth-character-identifier/static/images/bobby_home.jpg" alt="Bobby Hill">
            <br>
            <br> <br><br><br><br>

            <input type='text' class='input_text' name='twittername' placeholder='Enter Twitter Handle'>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div id="modal">
        <img id="loader" src="https://cdn.jsdelivr.net/gh/abhidya/Koth-character-identifier/static/images/loading.gif"/>
    </div>
    <div id="fade"></div>
</div>


<div class="MainContainer" id="visualizations" style="display: none"><br>




            <div class="ContentContainer" style="position: relative; height:100vh; width:100vw">
                <h1 class="center" id="proclamation" style=" margin-left: 30vw"></h1>
                <img class="center" id="biggie_char" style="max-height:80%; max-width:80%;    object-fit: contain;">
            </div>


            <div style="position: relative; height:40vh; width:40vw;text-align:center; margin-left: 30vw"
                 class="chart">
                                    <br>
                    <br>
                    <br>
                <h2>Tweet Breakdown</h2>
                <canvas id="myChart"></canvas>                    <br>
                    <br>
                    <br>
            </div>
            <br>

            <br>


        </tr>
        <tr>

            <div class="ContentContainer" style="position: relative; height:100vh; width:80vw;  margin-right: 10vw;
  margin-left: 10vw;">

                <div class="Content">
                    <br>
                    <br>
                    <h1 style="text-align:center"> Top Quotes</h1>
                    <h3> Most Hank Like Quote</h3>

                    <blockquote class="ludwig" id="Most_Hank">
                        // Put the rest of my page content here
                    </blockquote>
                    <footer id="Most_Hank_conf">
                        // Put the rest of my page content here
                    </footer>
                    <br>
                    <br>
                    <h3> Most Peggy Like Quote</h3>

                    <blockquote class="ludwig" id="Most_Peggy"></blockquote>
                    <footer id="Most_Peggy_conf"></footer>
                    <br>
                    <br>
                    <h3> Most Bobby Like Quote</h3>

                    <blockquote class="ludwig" id="Most_Bobby"></blockquote>
                    <footer id="Most_Bobby_conf"></footer>
                    <br>
                    <br>
                    <h3> Most Dale Like Quote</h3>

                    <blockquote class="ludwig" id="Most_Dale"></blockquote>
                    <footer id="Most_Dale_conf"></footer>
                    <br>
                    <br>
                    <br>
                    <h1 style="text-align:center"> Least Quotes</h1>

                    <h3> Least Hank Like Quote</h3>

                    <blockquote class="ludwig" id="least_Hank"></blockquote>
                    <footer id="least_Hank_conf"></footer>
                    <br>
                    <br>
                    <h3> Least Peggy Like Quote</h3>

                    <blockquote class="ludwig" id="least_Peggy"></blockquote>
                    <footer id="least_Peggy_conf"></footer>
                    <br>
                    <br>
                    <h3> Least Bobby Like Quote</h3>

                    <blockquote class="ludwig" id="least_Bobby"></blockquote>
                    <footer id="least_Bobby_conf"></footer>
                    <br>
                    <br>
                    <h3> Least Dale Like Quote</h3>

                    <blockquote class="ludwig" id="least_Dale"></blockquote>
                    <footer id="least_Dale_conf"></footer>
                    <br>
                    <br>
                    <br>
                    <br>
                                        <h1 style="text-align:center"> All Tweets & Scores </h1>

                    <table class="tweets-table" id="tableoftweets"  style="position: relative; height:100vh; width:80vw">
                    <tr>
                        <th>Tweet</th>
                        <th>Hank Hill</th>
                        <th>Peggy Hill</th>
                        <th>Bobby Hill</th>
                        <th>Dale Gribble</th>
                    </tr>
                </table>

                </div>
            </div>

            <br>
            <br>



</div>


</body>
<script src="https://cdn.jsdelivr.net/gh/abhidya/Koth-character-identifier/static/js/functions.js"></script>

</html>